---

---

<h1
  class="text-6xl sm:text-3xl tracking-tighter font-medium text-black"
  class:list={Astro.props.class}
>
  Hi, my name is Aleksey.<br />
  I'm a <span class="text-primary">Lead-Frontend</span> /<br />
  <span class="text-primary">Full-Stack Developer</span>.
</h1>
