@font-face {
	font-family: 'Inter';
	src: url('/fonts/Inter.woff2') format('woff2');
	font-display: swap;
}

html, body {
	@apply bg-zinc-100 text-zinc-600;
}

strong {
	@apply font-semibold text-zinc-900;
}

h1, h2, h3, h4, h5, h6 {
	@apply font-semibold text-zinc-900;
}

p, h1, h2, h3, h4, h5, h6 {
	overflow-wrap: break-word;
}

h1, h2, h3, h4, h5, h6 {
	text-wrap: balance;
}
h2, h3, h4 {
	@apply text-xl mt-4 mb-2;
}

p {
	text-wrap: pretty;
}

ul {
	@apply list-disc;
}

ul li  {
	@apply break-words mb-2 ml-5; 
}

p, ul {
	@apply mt-2 mb-2;
}

:target {
	scroll-margin-top: 100px;
}

.break-page-after {
	page-break-after: always;
}