---
import HeaderLink from './HeaderLink.astro';
---

<div class="fixed top-4 inset-x-0 z-50 sm:mx-2">
  <div class="max-w-[700px] mx-auto">
    <div class="w-full mx-auto">
      <div
        class="relative flex items-center justify-between
        w-full py-3 px-5 mx-auto ring-1 lowercase bg-white ring-zinc-200 rounded-2xl"
      >
        <div
          class="flex flex-row items-center justify-between md:justify-start"
        >
          <a
            class="text-black hover:text-black/50 gap-4 items-center tracking-tighter
            inline-flex font-bold text-xl"
            href="/"
            title="linke to main page"
          >
            UNKNWN
          </a>
        </div>
        <nav>
          <HeaderLink href="/" class="mr-2">Home</HeaderLink>
          <HeaderLink href="/examples" class="mr-2">Code examples</HeaderLink>
        </nav>
      </div>
    </div>
  </div>
</div>
