---
import type { HTMLAttributes } from 'astro/types'

type Props = HTMLAttributes<'a'>

const { href, class: className, ...props } = Astro.props

let { pathname } = Astro.url
pathname = pathname.replace(`/${Astro.currentLocale}`, '/')
const subpath = pathname.match(/[^/]+/g)
const isActive = href === pathname || href === `/${subpath?.[0]}`;
---

<a
  href={href}
  class:list={[className, { 'text-primary': isActive }]}
  {...props}
>
  <slot />
</a>
